.col{

    box-shadow: 15px 15px 10px rgba(0, 0, 0, 0.4);
    border-style: solid;
    border-color:#0074d9;
    background-color:#fff;
    height: 300px;
    width: 300px;
    display: flex;
    
}

.contenu{

    padding: 2%;
    margin: auto;

}

.row{

    display: flex;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);

}