body{
    margin: 0;
    padding: 0;
} 

.blocform{
    position: absolute;
    left: 50%;
    top: 370px;
    transform: translate(-50%,-50%);
    display : flex;
}

.blocuser{
    height: 450px;
    text-align: center;
    padding: 2%;
    background-color: rgb(206, 206, 206);
    position: absolute;
    top: 450px;
    left: 50%;
    transform: translate(-50%,-50%);
    display : flex;
}

.form{
    width: 300px;
    margin: auto;
}

.formulaire{
    
    border-radius: 30px;
    border: #ddd solid;
    height: 50px;
    width: 300px;
    font-size: 16px !important; 
    text-align: center;
    background-color: #ddd;
}

.l{
    width: 100%;
    background: transparent;
    border: 0;
    border-bottom: 3px solid #FFF;  
    font-weight: bold;
    text-align: center;
}

textarea{
    width: 100%;
    height: 50px;
    background: transparent;
    border: 0;
    border-bottom: 3px solid #FFF;
}

#btn-submit{
    width: 100%;
}

#title{
    font-weight: bold;
}

#infowindow-content {
    display: none;
  }

.li{
    font-weight: bold;
}

:root{
    --success-color: rgb(130, 253, 130);
    --error-color: rgb(255, 123, 123);
    --success-background: rgb(182, 255, 182);
    --error-background: rgb(255, 184, 184);
    --error-text: rgb(214, 0, 0);
}
.control.success input {
    border-color: var(--success-color);
    background-color: var(--success-background);
}

.control.error input {
    border-color: var(--error-color);
    background-color:  var(--error-background);
}

.control .perror{

    text-align: center;
    font-size: 10px;
    color: var(--error-text);
    visibility: hidden;
    
}

.control.error .perror{
    visibility: visible;
}