body{
    margin:0;
    padding:0;
}

#search{
    margin-top: 230px;
}

#userul{
    width: 600px;
    height: 200px;
    background-color: royalblue;
    top: 50%;
    left: 50%;
    transform: translate(50%, 50%); 
}

#result{
    margin-top: 4%;
    top: 50%;
    left: 50%;
    transform: translate(21%, 20%);
}

#tripul{
    width: 600px;
    height: 200px;
    background-color: rgb(231, 226, 218);
    margin: 2%;
    padding: 2%;
    border-radius: 20px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
}

.tripli{
    display: inline-block;
    font-size: 20px;
    font-weight: bold;
}

.bas{
    margin-top: 17%;
}

.picturetrip{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 2px solid #555;
}

.ident{

    border-radius: 20px;
    border: #ddd solid;
    height: 50px;
    width: 300px;
    font-size: 16px !important; 
    background-color: #ddd;
    margin-left: 10px;
    padding: 20px;

}

#btn-submit{ 
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
    font-size: 20px;
    font-weight: bold;
    margin-top: 2%;
    border-radius: 30px;
    width: 900px;
    height: 60px;
    border: 0px;
}

#btn-submit:hover{
    background-color: #ccc;
}

.ident::placeholder {
    font-weight: 1000;
}

#searchWrapper{
    text-align: center;
}

.resultat{
    text-align:center;
}

.resu{
    text-align:center;
}

.resultatli{
    display: inline-block;
    font-size: 20px;
    font-weight: bold;
    color: #fff;
}

.res{
    display: inline-block;
    font-size: 20px;
    font-weight: bold;
    color: #fff;
}

#resultatrip{
    width: 600px;
    height: 105px;
    background-color: #666;
    border-radius: 20px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
    margin: 2%;
    padding: 2%;
    margin-top: 3%;
    top: 50%;
    left: 50%;
    transform: translate(40%, 20%);
}

#infowindow-content {
    display: none;
}

:root{
    --success-color: rgb(130, 253, 130);
    --error-color: rgb(255, 123, 123);
    --success-background: rgb(182, 255, 182);
    --error-background: rgb(255, 184, 184);
    --error-text: rgb(214, 0, 0);
}
.ident.success {
    border-color: var(--success-color);
    background-color: var(--success-background);
}

.ident.error {
    border-color: var(--error-color);
    background-color:  var(--error-background);
}
