html,body{

    background-color: #4d93cf;

}

.blocform {

    box-shadow: 15px 15px 10px rgba(0, 0, 0, 0.4);
    background-color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-40%);
    height: 400px;
    width: 400px;
    display : flex;

}

.form{

    margin: auto;

}

.ident{

    border-radius: 20px;
    border: #ddd solid;
    height: 50px;
    width: 300px;
    font-size: 16px !important; 
    text-align: center;
    background-color: #ddd;

}

:root{
    --success-color: rgb(130, 253, 130);
    --error-color: rgb(255, 123, 123);
    --success-background: rgb(182, 255, 182);
    --error-background: rgb(255, 184, 184);
    --error-text: rgb(214, 0, 0);
}

.control.success input {
    border-color: var(--success-color);
    background-color: var(--success-background);
}

.control.error input {
    border-color: var(--error-color);
    background-color:  var(--error-background);
}


.control .perror{
    font-size: 10px;
    color: var(--error-text);
    visibility: hidden;
    
}

.control.error .perror{
    visibility: visible;
}

.ident::placeholder { font-weight: 1000; }

#btn-submit {

    border-radius: 20px;
    width: 100%;
    height: 100%;

}

p{

    text-align: center;
    font-weight: 900;
    font-size: 24px;

}
