.blocrecap {

    box-shadow: 15px 15px 10px rgba(0, 0, 0, 0.4);
    background-color: #ddd;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-40%);
    height: 400px;
    width: 400px;
    display : flex;

}

#recap{

    margin: auto;

}

#recapul {

    list-style-type: none;
    text-align: center;

}

.recapli {

    font-weight: bold;
    padding-top: 5%;
    padding-bottom: 5%;
    color: #222;
    height: 60px;
    width: 350px;
    font-size: 16px;

}

#customButton {

    width: 100%;

}