body{
    height: 1200px;
}

#searchid {

    /* box-shadow: 15px 15px 10px rgba(0, 0, 0, 0.4); */
    background-color: rgb(255, 255, 255);
    position: absolute;
    top: 700px;
    left: 50%;
    transform: translate(-50%,-40%);
    height: 400px;
    width: 600px;
    display : flex;

}

#trip{

    position: relative;
    top: -80px;
    margin: auto;

}

.searchlileft {
    color: #222; 
    font-size: 18px;
    margin-left: 10%;
}

#map{
    position: absolute;
    top: 245px;
    left: 50%;
    transform: translate(-50%,-40%);
    display : flex;
}

#myMap{
    margin: auto;
    width:600px;
    height:400px;
}

#contain{
    box-shadow: 15px 15px 10px rgba(0, 0, 0, 0.3);
    position: absolute;
    top: 510px;
    left: 50%;
    transform: translate(-50%,-40%);
    background-color: rgb(207, 207, 207);
    width:700px;
    height:1000px;
}

.searchliright{
    color: #222; 
    font-size: 18px;
    float: right;
}

