*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
}

nav{
    background-color: #0074d9;
    height: 80px;
    width: 100%;
    position: fixed;
    z-index: 99999 !important;
}

#logo{
    color : white;
    font-size: 35px;
    line-height: 80px;
    font-weight: bold;
    float: left;
}

nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 10px;
    font-size: 18px;
    font-weight: bold;
}

.lien{
    color: #fff;
    background: none;
}

.lien:hover{
    color:#8dcaff;
    text-decoration: none;
}

.lienside{
    color: #fff;
    background: none;
}

.lienside:hover{
    color: #fff;
}

.td{
    font-size: 18px;
    font-weight: bold;
}

#picture{
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

#profiletd{
    display: inline-block;
    float: right;
}

.sidebar{
    position: fixed;
    top: 60px;
    right: 0;
    width: 300px;
    height: 100%;
    background: #001aaf;
    /* transition: ease-in-out 0.5s; */
}

.sidebar ul{
    position: absolute;
    top: 20px;
    width: 100%;
   
}

.sidebar ul li{
    padding-top: 32px;
    padding-bottom: 32px;
    width: 100%;
    /* border-bottom: whitesmoke 1px solid; */
}

.sidebar ul li:hover{
    background-color: royalblue;
}

.sidebar ul li a{
    font-size: 22px;
    display: block;
    text-align: left;
    padding: 7px 40px;
    text-decoration: none;
}

.sidebar ul li a .text{
    margin-left: 20px;
}

.hover_collapse .sidebar{
    width: 100px;
}

.hover_collapse .sidebar ul li a .text{
    display: none;
}

#name{
    position: relative;
    bottom: 80px;
    left: 50px;
    float: right;
    color: #fff;
}

.proposer{
    position: relative;
    left: 500px;
}